flake8==3.9.2
mccabe==0.6.1
pycodestyle==2.7.0
pyflakes==2.3.1

# Deps do pytest
atomicwrites==1.4.0
attrs==21.2.0
six==1.16.0
iniconfig==1.1.1
pluggy==0.13.1
py==1.10.0
pytest==6.2.4
toml==0.10.2

# Coverage
coverage==5.5
pytest-cov==2.12.1

-r requirements.txt